{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      dental
      ai="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>overview - Brand</title>
    <link
      rel="stylesheet"
      href="{% static  'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/fontawesome-all.min.css '%}"
    />
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css '%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Search-Input-Responsive-with-Icon.css '%}"
    />
    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="{% static 'plugins/fontawesome-free/css/all.min.css '%}"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'assets/css/adminlte.min.css '%}" />
    {% comment %} {% endcomment %}

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>patient_profile_1 - Brand</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css '%}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Acme&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/fontawesome-all.min.css '%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/ionicons.min.css '%}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css '%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/Search-Input-Responsive-with-Icon.css '%}"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'assets/css/adminlte.min.css '%}" />

    
    <title>My To-Do List</title>
    <style>
      .container {
        display: flex;
        justify-content: flex-end;
      }
      .color-palette {
        height: 35px;
        line-height: 35px;
        text-align: right;
        padding-right: 0.75rem;
      }

      .color-palette.disabled {
        text-align: center;
        padding-right: 0;
        display: block;
      }

      .color-palette-set {
        margin-bottom: 15px;
      }

      .color-palette span {
        display: none;
        font-size: 12px;
      }

      .color-palette:hover span {
        display: block;
      }

      .color-palette.disabled span {
        display: block;
        text-align: left;
        padding-left: 0.75rem;
      }

      .color-palette-box h4 {
        position: absolute;
        left: 1.25rem;
        margin-top: 0.75rem;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        display: block;
        z-index: 7;
      }
    </style>
  </head>

  <body id="page-top">
    {%block content%} {%endblock%}
  </body>

  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright">
        <span>Copyright © Dental Assistant 2023</span>
      </div>
    </div>
  </footer>


  
  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%} "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js "></script>
  <script src="{% static 'assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js '%}"></script>
  <script src="{% static 'assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js '%} "></script>
  <script src="{% static 'assets/js/theme.js '%} "></script>
  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js '%} "></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js '%} "></script>
  <!-- AdminLTE App -->
  <script src="{% static 'assets/js/adminlte.min.js '%} "></script>
  <!-- AdminLTE for demo purposes -->
  <script src="{% static 'assets/js/demo.js '%} "></script>

  <script src="{% static 'assets/bootstrap/js/bootstrap.min.js '%} "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js "></script>
  <script src="{% static 'assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20-1.js'%} "></script>
  <script src="{% static 'assets/js/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.js '%}"></script>
  <script src="{% static 'assets/js/theme.js'%} "></script>
  <!--  -->
  <!-- jQuery -->
  <script src="{% static 'plugins/jquery/jquery.min.js'%} "></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%} "></script>
</html>
